.main {
  margin-bottom: 15rem;
}
.card {
  padding: 2rem;
  text-align: center;
  background-image: linear-gradient(rgba(93, 2, 2, 0), rgba(93, 2, 2, 0.1));
  h1 {
    color: #e7816b;
    font-size: 32px;
    font-weight: 500;
    margin-bottom: 1rem;
  }
  p {
    color: #333136;
    margin-bottom: 1rem;
    font-size: 15px;
  }
}
