.hero {
  text-align: center;
  color: white;
  position: relative;
  padding-inline: 1rem;
  padding-top: 3rem;
  padding-bottom: 30rem;
  background-color: #e7816b;
  background-image: url("/assets/home/desktop/image-hero-phone.png"),
    url("/assets/home/desktop/bg-pattern-hero-home.svg");
  background-size: auto;
  background-repeat: no-repeat, no-repeat;
  background-position: center -110%;
  background-attachment: local;
  background-clip: padding-box;
}

.header {
  font-size: 32px;
  font-weight: 500;
  color: white;
  line-height: 2.2rem;
  margin-bottom: 1rem;
}
.p {
  margin-bottom: 1rem;
}
.button {
  padding: 1rem 1.5rem;
  border-radius: 0.5rem;
  border: none;
  font-weight: 500;
}
@media (min-width: 764px) {
  .hero {
    padding-inline: 5rem;
    border-radius: 1rem;
    background-position: center -300%;
  }
  .header {
    font-size: 48px;
    line-height: 3rem;
  }
}
@media (min-width: 900px) {
  .hero {
    text-align: left;
    padding-left: 5rem;
    padding-right: 18rem;
    padding-block: 5rem;
    background-position: right top;
  }
  .p {
    margin-bottom: 2rem;
  }
}
@media (min-width: 1300px) {
  .hero {
    padding-right: 30rem;
    padding-block: 10rem;
    background-position: 120% 0;
  }
}
