.hero {
  text-align: center;
  color: white;
  position: relative;
  padding-inline: 1rem;
  padding-top: 5rem;
  padding-bottom: 20rem;
  background-color: #e7816b;
  background-image: url("/assets/home/desktop/image-hero-phone.png"),
    url("/assets/home/desktop/bg-pattern-hero-home.svg");
  background-size: cover;
  background-repeat: no-repeat, no-repeat;
  background-position: center 275px, left top;
}

.header {
  font-size: 32px;
  font-weight: 500;
  color: white;
  line-height: 2.2rem;
  margin-bottom: 1rem;
}
.p {
  margin-bottom: 1rem;
}
.button {
  padding: 1rem 1.5rem;
  border-radius: 0.5rem;
  border: none;
  font-weight: 500;
}
@media (min-width: 700px) {
  .hero {
    padding-inline: 5rem;
    border-radius: 1rem;
  }
  .header {
    font-size: 48px;
    line-height: 3rem;
  }
}
@media (min-width: 1024px) {
  .hero {
    text-align: left;
    padding-left: 5rem;
    padding-right: 30rem;
    padding-bottom: 10rem;
    padding-top: 10rem;
  }
}
