.app {
  max-width: 1300px;
  margin: auto;
  /* border: 1px solid black; */
}
@media (min-width: 764px) {
  .app {
    padding-inline: 2rem;
  }
}
@media (min-width: 1024px) {
  .app {
    padding-inline: 5rem;
  }
}
@media (min-width: 1300px) {
  .app {
    padding-inline: 6rem;
  }
}
