.section {
  padding: 6rem 1rem;
  background-color: #e7816b;
  text-align: center;
  color: white;
  background-image: url("/assets/web-design/desktop/bg-pattern-intro-web.svg");
  background-repeat: no-repeat;
  background-position: right top;
  background-size: 220%;

  h1 {
    font-size: 32px;
    font-weight: 500;
    margin-bottom: 1rem;
  }
  p {
    font-size: 15px;
  }
}
@media (min-width: 764px) {
  .section {
    border-radius: 1rem;
    padding: 5rem 10rem;

    h1 {
      font-size: 48px;
    }
  }
}
